<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="erp.controller"/><!--指定要扫描的包-->
    <mvc:default-servlet-handler/><!--处理不了的交给tomcat-->
    <mvc:annotation-driven/><!--开启高级功能-->
    <!--忽略静态资源-->
<!--    <mvc:resources mapping="/bootstrap/**" location="/bootstrap/"/>-->
<!--    <mvc:resources mapping="/js/**" location="/js/"/>-->
<!--    <mvc:resources mapping="/css/**" location="/css/"/>-->
    <!--配置用户登录认证拦截器(已使用shiro框架代替)-->
<!--    <mvc:interceptors>-->
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/**"/>-->
<!--            <mvc:exclude-mapping path="/bootstrap/**"/>-->
<!--            <mvc:exclude-mapping path="/js/**"/>-->
<!--            <mvc:exclude-mapping path="/css/**"/>-->
<!--            <mvc:exclude-mapping path="/user/**"/>-->
<!--            <bean class="erp.Interceptor.UserInterceptor"/>-->
<!--        </mvc:interceptor>-->
<!--    </mvc:interceptors>-->
    <!--配置文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
</beans>