/*设置字体*/
* {
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}

/*
导航栏
 */
#header {
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    height: 50px;
}

/*
多级菜单
 */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #222222;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*用来填充导航栏的位置*/
/*body > div:nth-child(2) {*/
/*    height: 50px;*/
/*}*/

table {
    width: 100%;
    margin: 0 auto;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: center;
}

table td {
    height: 35px;
    font-size: 1.2em;
}

table th {
    background: #f5f5f5;
    font-size: 1.5em;
}

table caption {
    margin-top: 50px;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #0f0f0f;
}


.modal-slg {
    width: 95%;
}
